/* CustomSliderStyle.css */
body {
    margin: 0;
    padding: 0;
    overflow: auto; 
  }
  
.slider-container {
    width: 75vw;
    max-height: 75vh;
    justify:center;
}

.slider-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider-item {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {

    .slider-container {
        height: 25vh;
        /* You can adjust this value based on your preference */
    }
}

.summary-container {
    background-color: rgb(198, 237, 198);
    margin-top: 20px;
    max-height: 300px;
}

.summary-container img {
    max-width: 200px;
    max-height: 200px;
}

p {
    font-size: small;
    text-align: center;
}


.summary-container .summary-image {
    background-size: contain;
    /* Adjust this value to set the desired size */
}

.ml-auto{
    margin-left: auto;
    padding-right: 30px;
    }
    
    .navbar{
        background-color: cornflowerblue ;
        align-content: center;
    }
    
    .navbar-brand{
       padding-left: 10px;
    }
    
    .logo{
        width: 80px;
        height: 50px;
    }
    
    
    /* Add a hover effect to the NavItem links */
    .navbar-nav .nav-item .nav-link {
        margin-right: 35px; /* Add margin to create space between each button */
        /* You can adjust the margin value based on your spacing preference */
    }
    
    /* Add space only to the right of the last button in the list */
    .navbar-nav .nav-item:last-child .nav-link {
        margin-right: 0;
    }
    
    /* Add a hover effect to the "Anasayfa" NavItem */
    .navbar-nav .nav-item .nav-link[href="/components/"]:hover {
        color: #d4c4c0; /* Change the color of the text on hover */
        background-color: #2b89e7; /* Change the background color on hover */
        /* You can also add other styles like border, padding, etc. */
        border-radius: 10px;
    }
    
    /* Optional: Add a transition for smoother effect */
    .navbar-nav .nav-item .nav-link {
        transition: background-color 0.3s ease; /* Adjust the duration and timing function as needed */
    }
    
    /* Add a specific style for the selected "Anasayfa" NavItem */
    .navbar-nav .nav-item .nav-link[href="/"] {
        color: #d4c4c0; /* Change the color of the text for the selected item */
        background-color: #2b89e7; /* Change the background color for the selected item */
        border-radius: 10px;
    }
    