
.navbar {
    background-color: cornflowerblue;
    align-content: center;
    margin-bottom: 20px; /* Add margin between navbar and content */
    background-color: #f5f5f5;

}

.navbar-brand {
    padding-left: 10px;
}

.logo {
    width: 80px;
    height: 50px;
}


/* Add a hover effect to the NavItem links */
.navbar-nav .nav-item .nav-link {
    margin-right: 35px;
    /* Add margin to create space between each button */
    /* You can adjust the margin value based on your spacing preference */
    transition: color 0.3s ease; /* Add transition for smoother effect */

}

/* Add space only to the right of the last button in the list */
.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}


/* Add a hover effect to the "Anasayfa" NavItem */
.navbar-nav .nav-item .nav-link:hover {
    color: #d4c4c0;
    /* Change the color of the text on hover */
    background-color: #798692;
    /* Change the background color on hover */
    /* You can also add other styles like border, padding, etc. */
    border-radius: 10px;
}

/* Optional: Add a transition for smoother effect */
.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s ease;
    /* Adjust the duration and timing function as needed */
}

/* Add a specific style for the selected "Anasayfa" NavItem */
.navbar-nav .nav-item .nav-link[href="/"] {
    color: #d4c4c0;
    /* Change the color of the text for the selected item */
    background-color: #68a9ea;
    /* Change the background color for the selected item */
    border-radius: 10px;
}