.summary-container {
    background-color: rgb(198, 237, 198);
    margin-top: 20px;
    max-width: 100vw;
    max-height: 50vh;
}



p {
    font-size: small;
    text-align: center;
}


.summary-container .summary-image {
    background-size: contain;
    /* Adjust this value to set the desired size */
}

.ml-auto {
    margin-left: auto;
    padding-right: 30px;
}
