.summary-container {
    background-color: rgb(198, 237, 198);
    margin-bottom: 20px;
}

img {
    width: 400px;
    height: 400px;
    justify-content: center;
}

p {
    font-size: small;
    text-align: center;
}

